.ul {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    justify-content: center;
    gap: 1rem;
}

.ul li{
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-weight: 600;
    font-size: 1.5em;
    /*background-color:white;*/
    border-radius: 5px;
    color: white;
}

.ul li:hover{
    color:#733B36 ;
    cursor:pointer;

}

