.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0.3rem rgb(0, 0, 0) solid;
    border-radius: 1rem;
    width: 25%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top:2rem;
    padding-bottom:2rem;
    gap: 1rem;
}

.buttonContainer{
    display: inline-flex;
    justify-content: center;
    gap: 1rem
}
.container button{
    display: inline-flex;
    align-items:center;
    justify-content: center;
    border: none;
    background-color: rgba(255, 102, 0, 0.281);
    border-radius: 0.3rem;
    font-size: 1em;
    padding: 1rem;
    height: 25px;
}

button:hover{
    background-color: rgba(255, 102, 0, 0.801);
    transform: scale(1.1);
    /* transition: transform 0.2s; */
}

