img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s
}

img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.411);
}