.container{
    text-align: center;
}

a {
    text-decoration:none;
    color: black;
}

.cardsContainer {
    margin: 2rem 5rem 2rem 5rem;
    border: 0.2rem black solid;
    border-radius: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 4rem 2rem 4rem 2rem;
    gap: 1rem;
}

.filterContainer{
    display:flex;
    justify-content: center;
    gap: 1.5em;
}

.filterContainer div{
    display:flex;
    gap: 0.3em;
}